<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask ToDo</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- タイトル -->
    <h1>Flask Todo</h1>

    <!-- 入力欄 -->
    <form action="/add" method="POST">
        <input type="text" name="task" required>
        <button type="submit">add</button>
    </form>

    <!-- TODOリスト -->
    <div class="todoList">
        <ul>
            {% for task in todos %}
            <li>
                <div class="check_task">
                    <input type="checkbox"/>
                    <div class="task_name">
                        {{ task }}
                    </div>
                </div>

                <a href="/delete/{{ loop.index0 }}">delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
